<div class="container">
	<h1 class="well">Browse</h1>
	<div class="row">
		<div class="col-md-3 col-sm-3" *ngFor="let university of universityList">
			<img src="{{ university.image_url }}" class="thumbnail">
			<h4 class="title">{{ university.name }}</h4>
			<div class="description">
				<small>{{ university.description.substring(0, 100) }}...</small>
			</div>
			<br>
			<a routerLink="university/{{university._id}}" class="btn btn-primary btn-block">View University</a>
		</div>
	</div>
</div>
