<div class="container">
	<h1>List of Universities</h1>
	<a routerLink="/manage/university/add">Add a university to list</a>
	<table class="table table-bordered">
	  <tr>
	  	<th>ID</th>
	  	<th>University Name</th>
	  	<th>Category</th>
	  	<th>Actions</th>
	  </tr>

	 	<tr *ngFor="let book of universityList">
	 		<td>{{ book._id }}</td>
	 		<td>{{ book.name }}</td>
	 		<td>{{ book.category }}</td>
	 		<td><Button class="btn btn-primary" routerLink="/manage/university/add/{{ book._id }}">Edit</Button>
	 		<Button class="btn btn-danger" (click)="deleteUniversity(book._id)">Delete</Button></td>
	 	</tr>
	</table>
</div>
